@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .animate-heartbeat {
    animation: heartbeat 2s ease-in-out infinite;
  }

  @keyframes heartbeat {
    0%, 100% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.08);
    }
  }
}
